---
title: Syr Whitepaper
description: Technical document to highlight Syr, it's components may have their own documents
date: '2025-10-02'
categories: 
    - syr
    - technical
ogImage: https://www.syr.is/syr-tease.webp
url: https://www.syr.is/whitepaper
siteName: https://www.syr.is
author: syr.is
---

# yoyoyoyo